/** @format */

.stigmi-1cont {
  width: 100%;
  display: flex;
 height: 100vh;
  position: relative;
  justify-content: center;

  video {
    width: 100%;
    height:auto;
    object-fit: contain;
  }

  header {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    left: 10%;
    top: 45%;

    span {
      font-family: "Archivo", serif;
      font-weight: 100;
text-align:center;
position:relative;
bottom:3rem;
      &:last-child {
        color: #000000;
        font-size: 25px;
        padding-top: 2rem;
        letter-spacing: 0.3rem;
      }

      &:first-child {
        color: #000000;
        font-size: 55px;
        font-weight:400;
        letter-spacing: 35px;
        line-height:1.5;
      }
    }
  }
}

.start-now {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;

  .down-arrow {
    font-size: 2rem;
    color: #466aff;
    transition: all 0.45s cubic-bezier(0.19, 1, 0.22, 1);

    &:hover {
      transform: translateY(5px);
    }
  }
}

.stigmi-2cont {
  display: flex;
  padding: 5rem 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  img {
    width: 60%;
    height: auto;
    object-fit: cover;
  }

  span {
    font-size: 24px;
    color: #000000;
    font-weight: 400;
    font-family: "Archivo", sans-serif;
    text-align: center;
    padding-top: 3rem;
  }
}

.stigmi-3cont {
  display: flex;
  width: 100%;
  height:auto;
  position: relative;
 
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .stigmi-3cont-content {
    position: absolute;
    top: 20%;
    right: 5%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
      font-family: "Archivo", serif;
      font-weight:400;
      color: #000000;
      font-size: 35px;
      
      margin: 0 0;
      letter-spacing: 33.59px;
    }

    p {
      font-family: "Archivo", sans-serif;
      font-weight: 500;
      color: #000000;
      font-size: 19px;
      letter-spacing: 1.25px;
      line-height:2;
      padding-top: 1rem;
 
    }
  }
}

@media screen and (max-width: 1100px) {
  .stigmi-1cont {
    height: 90vh;
    video {
      width: 100%;
      height:auto;
      object-fit: cover;
    }
  }
  .stigmi-1cont header {
    width: 90%;
    left: 5%;
    top: 42%;
  } .stigmi-1cont header span  {
    position:relative;
    bottom:2rem;
  }
  .stigmi-1cont header span:first-child {
    font-size: 42px;
    text-align: center;
    letter-spacing:9px;
    font-weight:300;
  }
  .stigmi-1cont header span:last-child {
    font-size: 20px;
    padding-top: 2rem;
    letter-spacing: 0.3rem;
  }
  .stigmi-2cont {
    display: flex;
    padding: 2rem 0.5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    width: 95%;
    gap: 50px;
  }
  .stigmi-2cont img {
    width: 95%;
  }
  .stigmi-2cont span {
    font-size: 20px;
    text-align: center;
    padding-top: 2rem;
    
  }
  .stigmi-3cont {
    width: 100%;
 
    position: unset;
    padding: 3.5rem 0rem 0rem;
    flex-direction: column-reverse;
    
  }
  .stigmi-3cont img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .stigmi-3cont .stigmi-3cont-content {
    position: inherit;
    top: 0%;
    right: 0%;
    width:95%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position:relative;
    bottom:2rem;
  }
  .stigmi-3cont .stigmi-3cont-content h1 {
    font-size: 30px;
 
    text-align: center;
    position:relative;
    left:1rem;
    
  } 
  .stigmi-3cont .stigmi-3cont-content p {
    font-size: 15px;
    letter-spacing: 0.1rem;
    text-align: center;
    line-height:1.5;
    padding-top:2rem;
  }
}

@media (min-width: 950px) and (max-width: 1200px) {
  .stigmi-3cont .stigmi-3cont-content {
    top: 15%;
  }
}
